*, ::before, ::after{
    padding: 0px;
    margin: 0px;
    list-style: none;
    box-sizing: border-box;
    color: inherit;
}
.max-w-20{
    max-width: 20vw!important;
}
.border-none{
    border: none!important;
}
a:hover{
    text-decoration: none!important;
    color: inherit;
}
a{
    color: inherit;
}
@media (max-width: 767.98px) {

   
    .max-w-20{
        max-width: 100%;
    }

}