*, ::before, ::after{
    padding: 0px;
    margin: 0px;
    list-style: none;
    box-sizing: border-box;
    color: inherit;
}
.border-none{
    border: none!important;
}
a:hover{
    text-decoration: none!important;
    color: inherit;
}
a{
    color: inherit;
}